* {
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    background-color: #fff;
}

/* TOP BAR ELEMENTS */

.form-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

form {
    display: flex;
    gap: 1em;
    margin: 0;
}

.color-picker {
    width: 4vw;
    min-width: 50px;
    vertical-align: middle;
}

select {
    min-width: 20vw;
    padding: .5em 1em;
}

.generate-scheme-btn,
.dark-mode {
    padding: .5em 1em;
    cursor: pointer;
}

.generate-scheme-btn:hover,
.generate-scheme-btn:focus,
.dark-mode:hover,
.dark-mode:focus,
select:hover,
select:focus {
    background-color: #FED1C1;
}

.bulb {
    height: 1.5em;
    width: 1.5em;
}

.color-picker,
select,
.generate-scheme-btn,
.dark-mode {
    display: inline-block;
    height: 3em;
    min-height: 30px;
    font-size: 1.125rem;
    
    background-color: #fff;
    border: 1px solid #b3b2b2;
    border-radius: 5px;
}

/* SWATCHES */

.color-swatch-container {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.swatch {
    display:flex;
    flex-direction: column;
    background-color: blue;
}

.swatch:hover {
    box-shadow: 0 10px 10px #000;
    z-index: 2;
}

.swatch-color {
    height: 90%;
}

/* COLOR NAMES */

.footer {
    background-color: #fff;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* COPY MODAL */
.copy-modal {
    position: absolute;
    background-color: inherit;
    z-index: 4;
    font-size: 1.5rem;
    padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid #000;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.fade-in {
    opacity: .9;
}

/* DARK MODE */

body.dark,
body.dark .footer {
    background-color: #1F2937;
}

body.dark .color-picker,
body.dark select,
body.dark .generate-scheme-btn,
body.dark .dark-mode {
        background-color: #3D4B60;
    }

body.dark,
body.dark .footer,
body.dark .color-picker,
body.dark select,
body.dark .generate-scheme-btn{
        color: #fff;
}

body.dark .bulb {
    fill: #fff;
}


body.dark select:hover,
body.dark .generate-scheme-btn:hover,
body.dark .dark-mode:hover,
body.dark select:focus,
body.dark .generate-scheme-btn:focus,
body.dark .dark-mode:focus {
    background-color: #FF847A;
}
